.bannerMovie {
  position: absolute;
  top: 10rem;
  left: 10px;
}
.bg {
  width: 100%;
  height: 30rem;
  background-size: cover;
}
.title {
  font-size: 2rem;
  color: aliceblue;
}
.text {
  width: 25rem;
  color: aliceblue;
  font-size: 10px;
}
.btn {
  margin-left: 2rem;
  background-color: rgba(27, 25, 25, 0.486);
  color: aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
